---
http_interactions:
- request:
    method: post
    uri: https://api.adcourier.com/hybrid/hybrid.cgi
    body:
      encoding: UTF-8
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<AdCourierAPI>\n  <Method>AdvertCheck</Method>\n
        \ <APIKey>123456789</APIKey>\n  <Account>\n    <UserName>My Username</UserName>\n
        \   <Password>My Password</Password>\n  </Account>\n  <Options>\n    <Filter>\n
        \     <JobReference>123</JobReference>\n    </Filter>\n  </Options>\n</AdCourierAPI>"
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n\n<AdCourierAPIResponse>\n
        \   <TimeNow>2013-06-13T20:40:18Z</TimeNow>\n    <ResponseId>error-06-13-1371156018-api-02.gs-28234</ResponseId>\n
        \   <Failed>\n        <Message>AUTH LOGIN, Invalid/empty UserName: My Username</Message>\n
        \   </Failed>\n</AdCourierAPIResponse>\n"
  recorded_at: Thu, 13 Jun 2013 20:40:19 GMT
recorded_with: VCR 2.5.0
